<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <div>
  <app-dashboard></app-dashboard>
</div> -->

<div>
  <img src="images/earth.jpg" alt="Sun Texture" />
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam voluptas
  laudantium animi rem laboriosam labore adipisci obcaecati corporis? Doloribus
  quae odit sed excepturi fuga laudantium dolorum culpa modi ullam numquam.
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel fugit vero odit
  ducimus, minus ea minima deserunt recusandae optio quis laudantium
  perspiciatis. Sapiente sit, explicabo impedit perferendis tenetur neque
  voluptas!
  <div class="animation">
    <app-threescreen></app-threescreen>
  </div>
  <div class="animation">
    <!-- <app-planets></app-planets> -->
  </div>
  <app-test></app-test>
  <app-fire></app-fire>
</div>
<!-- <div class="card">
  <p-table
    [value]="employeeList"
    stripedRows
    [paginator]="true"
    [rows]="5"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[5, 10, 20]"
  >
    <ng-template #header>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Contact</th>
        <th>Email</th>
        <th>Department</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template #body let-item>
      <tr>
        <td>{{ item.employeeId }}</td>
        <td>{{ item.employeeName }}</td>
        <td>{{ item.contactNo }}</td>
        <td>{{ item.emailId }}</td>
        <td>{{ item.deptId }}</td>
        <td style="display: flex; justify-content: space-around">
          <p-button icon="pi pi-pen-to-square" (click)="editEmployee(item)" />
          <p-button icon="pi pi-trash" (click)="deleteEmployee(item.employeeId)" />
        </td>
      </tr>
    </ng-template>
  </p-table>
</div> -->

<!-- <div class="card flex justify-center">
  <p-image
    src="https://primefaces.org/cdn/primeng/images/galleria/galleria10.jpg"
    alt="Image"
    width="250"
  />
</div> -->

<!-- <div>
  <app-autocompletedemo></app-autocompletedemo>
</div>
<div>
  <app-editor></app-editor>
</div> -->

<router-outlet />
