<canvas #webgl class="webgl"></canvas>

<section class="section">
  <div class="odd">
<h1>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor dolores, error sint deserunt modi iure quia, laudantium eius fugiat ea est molestiae nobis voluptas nesciunt repellendus neque fugit autem. Eius?
</h1>
  </div>
</section>
<section class="section">
  <div class="first">

  </div>
  <div class="even">
    <h1>
      Lorem ipsum dolor 
    </h1>
  </div>
</section>
<section class="section">
  <div class="odd">
    <h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor dolores, error sint deserunt modi iure quia, laudantium eius fugiat ea est molestiae nobis voluptas nesciunt repellendus neque fugit autem. Eius?
    </h1>
  </div>
</section>
