html, body {
  margin: 0;
  padding: 0;
  height: 300vh; /* Make page scrollable */
  overflow-x: hidden;
}

canvas.webgl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* Prevent blocking scroll */
  z-index: -1; /* Ensure it stays in the background */
}

.section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: flex-start; /* Align content to the left by default */
  padding: 0 5vw;
  width: 100%;
  color: black;
  font-size: 3rem;
  z-index: 1;
}

/* Align odd-numbered sections (1st & 3rd) to the left */
.section .odd {
  text-align: left;
  width: 60%;
  height: 100vh;
  background: red;
  position: relative;
  z-index: 2;
}

.section .first{
  width: 40%;
  height: 100vh;
  background: transparent;
}

.section .even {
  text-align: left;
  width:60%;
  height: 100vh;
  background: yellow;
  position: relative;
  z-index: 2;
}

h1{
  font-size: 24px;
  font-weight: 700;
  color: gray;
  line-height: 20px;
}